.appEditDiv {
    margin: 4% auto;
    padding: 4%;
    /* background-color: var(--primary-color); */

    text-align: center;
    width: 70%;
    border-radius: 1rem;
    /* box-shadow: 7px 7px rgba(0, 0, 0, 0.404); */
}

.innerAppEditDiv {
    text-align: left;

    width: 60%;

    margin: 4% auto 0 auto;
}

.appEditDiv input {
    font-size: 1.3rem;
	padding: 3% 6%;
	margin: 1% auto;

	width: 100%;

	border-radius: 1rem;
	background-color: transparent;
	border: 2px solid var(--font-color);

    display: block;
    color: var(--font-color);
}

.appEditDiv input:focus {
	border: 2px solid transparent;
	outline: 4px solid var(--primary-color);
}

.innerAppEditDiv button {
	padding: 3% 8%;
	font-size: 1.3rem;
	font-weight: bold;
	margin-top: 4%;

    width: 100%;

	/* border: 1px solid var(--font-color); */
	border: none;
	background-color: var(--primary-color);
	color: var(--font-color);
	border-radius: .5rem;
}

.innerAppEditDiv button:hover {
	/* border: 1px solid black; */
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
	background-color: var(--secondary-color);
	color: var(--bg-color);
	cursor: pointer;
}

.inputLabel {
	color: var(--primary-color);
	font-weight: bold;
}