.appAdding-form-div {
    background-color: var(--primary-color);
    padding: 2%;
	margin: 7% auto;

    border-radius: 1rem;
	text-align: center;
	box-shadow: 7px 7px rgba(0, 0, 0, 0.404);

	width: 60%;
}

.appAdding-form-div input {
    font-size: 1.3rem;
	padding: 2% 3%;
	margin: 2% 1%;
	width: 100%;

	border-radius: .5rem;
	background-color: transparent;
	border: 4px solid var(--secondary-color);
}

.appAdding-form-div input:focus {
	border: 4px solid var(--bg-color);
	outline: none;
}

.appAdding-form-div button {
    padding: 2% 5%;
	font-size: 1.3rem;
	font-weight: bold;
	margin-top: 1%;
	width: 100%;

	/* border: 1px solid var(--font-color); */
	border: none;
	background-color: var(--bg-color);
	color: var(--font-color);
	border-radius: .5rem;

    display: block;
    margin: 1% auto;
}

.appAdding-form-div button:hover {
    /* border: 1px solid black; */
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
	background-color: var(--secondary-color);
	color: var(--bg-color);
	cursor: pointer;
}

form {
	width: 70%;
	margin: 3% auto;
}