.appAdding-form-div {
    background-color: var(--primary-color);
    padding: 2%;
	margin: 3% 0%;

    border-radius: 1rem;
	text-align: center;
	box-shadow: 7px 7px rgba(0, 0, 0, 0.404);
}

.appAdding-form-div input {
    font-size: 1.3rem;
	padding: 1% 2%;
	margin: 0.5% 1%;

	border-radius: .5rem;
	background-color: transparent;
	border: 2px solid var(--font-color);
}

.appAdding-form-div button {
    padding: 0.7% 3%;
	font-size: 1.3rem;
	font-weight: bold;
	margin-top: 1%;

	/* border: 1px solid var(--font-color); */
	border: none;
	background-color: var(--bg-color);
	color: var(--font-color);
	border-radius: .5rem;

    display: block;
    margin: 1% auto;
}

.appAdding-form-div button:hover {
    /* border: 1px solid black; */
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
	background-color: var(--secondary-color);
	color: var(--bg-color);
	cursor: pointer;
}