.appData-div {
    width: 30%;

    margin: 1%;
    padding: 2% 4%;

    background-color: var(--primary-color);
    border-radius: .8rem;
    transition: .3s ease-in-out;
}

.appData-div:hover {
    box-shadow: 7px 10px rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    font-size: 2rem;
}

.appInfoDiv h2{
    font-size: 2rem;
}

.appInfoDiv h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 2%;
}

.four {
    text-align: center;

    margin-top: 4%;
}

.four button {
    font-size: 1rem;
    padding: 3% 6%;
    margin: 0 2%;

    border-radius: .5rem;
    border: none;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: .3s ease-in-out;
}

.four button:hover {
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
    background-color: var(--secondary-color);
    color: var(--bg-color);
    cursor: pointer;
}

.passwordDiv {
    font-size: 1.6rem;
    padding-top: 2%;
}