.home-section {
	/* text-align: center; */
	display: flex;
	padding: 7% 15%;
}

.homeOneDiv {
	width: 50%;
	padding: 6% 1%;
}

.homeTwoDiv {
	width: 50%;
}

.home-section h1 {
	font-size: 2rem;
}

.home-section p {
	font-size: 1.8rem;
	margin-top: 2%;
	font-weight: lighter;
}

.home-section div {
	margin-top: 4%;
}

.createBtn {
	padding: 3% 5%;
	font-size: 1.2rem;
	font-weight: bold;

	/* border: 1px solid var(--font-color); */
	border: none;
	background-color: var(--primary-color);
	color: var(--font-color);
	border-radius: .5rem;
}

.createBtn:hover {
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
	background-color: var(--secondary-color);
	color: var(--bg-color);
	cursor: pointer;
}

.note {
	font-size: 1rem;
	margin-top: 1%;
}

/* ================ about section ============== */
.aboutSection {
	padding: 3% 12% 7% 12%;
	text-align: center;
}
.aboutDiv {
	display: flex;
	margin-top: 4%;
}

.aboutDiv h3 {
	font-size: 1.2rem;
	margin-bottom: 4%;
}

.aboutDiv p {
	opacity: 50%;
	font-weight: normal;
}

.aboutDivs {
	background-color: var(--primary-color);
	border-radius: 2%;
	margin: 1%;
	padding: 3%;

	width: 33%;
	transition: .3s ease-in-out;
}

.aboutDivs:hover {
	cursor: pointer;
	background-color: var(--secondary-color);
	box-shadow: 10px 10px rgba(0, 0, 0, 0.404);
	color: var(--bg-color);
}