.appData-div {
    width: 25%;

    margin: 2.1%;
    padding: 1% 2%;

    background-color: var(--primary-color);
    border-radius: .8rem;
    transition: .3s ease-in-out;

    position: relative;
}

.appData-div:hover {
    box-shadow: 7px 10px rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    font-size: 2rem;
}

.appInfoDiv h2{
    font-size: 1.3rem;
}

.appInfoDiv h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 1%;
}

.appInfoDiv p {
    margin: 0;
}

.four {
    text-align: center;
    display: none;
    /* margin-top: 4%; */
    padding-top: 7%;

    width: 25%;
    background-color: rgba(0, 0, 0, 0.252);

    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;

    border-radius: .8rem;

    transition: .3s ease-in-out;
    animation: slide-left .5s ease-out forwards;
}

.appData-div:hover .four {
    display: block;
}

.four button {
    font-size: 1.1rem;
    padding: 5% 8%;
    margin: 0 2.5%;

    border-radius: .5rem;
    border: none;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: .3s ease-in-out;
}

.four button:hover {
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.passwordDiv {
    font-size: 1.2rem;
    padding-top: 2%;
}

@keyframes slide-left {
	from {
		opacity: 0;
		transform: translateX(1.5rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}