.login-form-div {
	text-align: center;
	background-color: var(--primary-color);
	width: 40%;

	padding: 4%;
	margin: 4% auto;
	border-radius: 1rem;
	box-shadow: 7px 7px rgba(0, 0, 0, 0.404);
}

.login-form-div h1 {
	margin-bottom: 4%;
}

.login-form-div input {
	font-size: 1.6rem;
	padding: 2% 4%;
	margin: 2% auto;

	width: 100%;

	border-radius: 1rem;
	background-color: transparent;
	border: 4px solid var(--secondary-color);
}

.login-form-div input:focus {
	border: 4px solid var(--bg-color);
	outline: none;
}

.login-form-div label {
	text-align: left;
}

.login-form-div button {
	padding: 3% 8%;
	font-size: 1.3rem;
	font-weight: bold;
	margin-top: 1%;

    width: 100%;

	/* border: 1px solid var(--font-color); */
	border: none;
	background-color: var(--bg-color);
	color: var(--font-color);
	border-radius: .5rem;
}

.login-form-div button:hover {
	/* border: 1px solid black; */
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
	background-color: var(--secondary-color);
	color: var(--bg-color);
	cursor: pointer;
}
