.signup-form-div {
    margin: 4% auto;
    padding: 4%;
    background-color: var(--primary-color);

    text-align: center;
    width: 40%;
    border-radius: 1rem;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.404);
}

.signup-form-div input {
    display: block;
    /* margin: 1% auto; */
    font-size: 1.6rem;
	padding: 2% 4%;
	margin: 4% auto;

    width: 100%;

	border-radius: 1rem;
	background-color: transparent;
	border: 2px solid var(--font-color);;
}

.signup-form-div form button {
    padding: 3% 8%;
	font-size: 1.3rem;
	font-weight: bold;
	margin-top: 1%;

    width: 100%;

	/* border: 1px solid var(--font-color); */
	border: none;
	background-color: var(--bg-color);
	color: var(--font-color);
	border-radius: .5rem;
}

.signup-form-div button:hover {
    /* border: 1px solid black; */
    box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
	background-color: var(--secondary-color);
	color: var(--bg-color);
	cursor: pointer;
}