.sectionOne {
    display: flex;

    padding: 7% 15%;
}

.oneOne {
    width: 50%;
    padding-top: 10%;
}
.oneTwo {
    width: 50%;
}

.oneTwo img {
    width: 80%;
    height: auto;

    display: block;
    margin: 0 auto;
}

.sectionTwo {
    background-color: var(--primary-color);
    padding: 7% 15%;
}

.sectionThree {
    display: flex;
    justify-content: space-around;

    padding: 7% 15%;
}

.threeCards {
    background-color: #001219;
    padding: 3% 2%;
    text-align: center;
    border-radius: .5rem;
    margin: 2%;
}

.threeCards:hover {
    background-color: #161a1d;
}

.threeCards h2 {
    color: var(--primary-color);
}

.fotter {
    background-color: #161a1d;
    display: flex;
    padding: 4% 12%;
}

.fotterOne {
    width: 100%;
}

.fotterTwo {
    width: 100%;
}

.fotterOne button {
    padding: 2% 8%;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--primary-color);

    border: 3px solid #161a1d;
    outline: 3px solid #161a1d;
    border-radius: .5rem;
    color: var(--font-color);

    transition: .3s ease-in-out;
}

.fotterOne button:hover {
    background-color: var(--demo-color);
    outline: 3px solid var(--primary-color);
    cursor: pointer;
}

.fotterTwo li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 2%;
    text-align: right;
}

.fotterTwo li:hover {
    color: var(--primary-color);
    cursor: pointer;
}