:root {
  --bg-color: #040404;
  --font-color: #FFFFFF;
  --primary-color: #E51B0C;
  /* --secondary-color: #565B62; */
  --secondary-color: #001219;
  --demo-color: hsla(4, 90%, 47%, 0.698);
  --green-color: #70e000;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


