nav {
	background-color: var(--bg-color);
	padding: 1% 3%;

	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--secondary-color);
}

.logo {
	color: var(--font-color);
	font-family: 'Bangers', cursive;
	letter-spacing: 3px;
	text-decoration: none;
}

.actionSection {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
}

.logoutBtn {
	background-color: var(--primary-color);
	color: var(--font-color);
	padding: 2% 10%;
	font-size: 1.2rem;
	font-weight: bold;

	margin-top: 0;

	border: none;
	border-radius: .5rem;
}

.logoutBtn:hover {
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
	cursor: pointer;
	background-color: var(--secondary-color);
	color: var(--bg-color);
}

/* login btn styling. */
.loginBtn {
	background-color: var(--primary-color);
	color: var(--font-color);
	padding: 15% 10%;
	width: 150%;
	font-size: 1.2rem;
	font-weight: bold;

	border: none;
	border-radius: .5rem;
}

.loginBtn:hover {
	box-shadow: 5px 5px rgba(0, 0, 0, 0.404);
	cursor: pointer;
	background-color: var(--secondary-color);
	color: var(--bg-color);
}


.actionSection h3{
	padding: 14px;
}

.username {
	color: var(--font-color);
	text-decoration: none;
}

.modeIconBtn {
	margin-top: 0;
}
